.footerImg-container {
  width: 100%;
  height: 206px;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.footerImg {
  width: 100%;
  height: 205.235px;
}
.footerImg-container-mobile {
  width: 100%;
  height: 206px;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.footerImgMobile {
  width: 100%;
  height: 205.235px;
}
