.mySkills-main {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  background-color: #f9faff;
  height: 608px;
  /* width: 80%; */
  align-items: center;
  /* justify-items: center; */
  gap: 64px;
  /* margin-left: 80px; */
  /* margin-top: 10%; */
  padding: 32px 80px 0px;
  /* padding: 10px, 10px; */
}
.mySkills-main-title {
  color: var(--gray-700, #344054);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 60px */
  letter-spacing: -0.9px;
}
.boxs {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.mySkills-boxs {
  width: 400px;
  height: 408px;
  padding: 40px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px;
  background: var(--white, #fff);
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.mySkills-img {
  width: 92px;
  height: 92px;
  border-radius: 100px;
}
.mySkills-title {
  color: #25282b;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 40px */
  letter-spacing: -0.6px;
}
.mySkills-list {
  color: #828282;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}
@media screen and (max-width: 480px) {
  .mySkills-main {
    margin-left: 0px;
    align-items: center;
    padding: 48px 40px 48px;
  }

  .mySkills-boxs {
    width: 215px;
    height: 408;
    gap: 10px;
    height: 1, 304px;
  }
  .boxs {
    width: 275px;
    height: 295px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .mySkills-main {
    /* background-color: #25282b; */
    margin-left: 0px;
    align-items: center;
    padding: 48px 40px 48px;
  }
  .mySkills-boxs {
    width: 264px;
  }
}

