.main-ContactMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
  align-self: stretch;
  padding: 48px 24px;
  background-color: #f9faff;
  margin-top: 0;
}
.ContactMe-title {
  color: #344054;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.9px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}
.ContactMe-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}
label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-weight: 500;
}
input {
  width: 400px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
  background: var(--bg-white, #fff);
}
.message {
  width: 400px;
  height: 160px;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
  background: var(--bg-white, #fff);
}

.send-button {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--palette-blue-400, #2997f0);
  border: 0px solid #2997f0;
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.send-button:hover {
  background: var(--palette-blue-500, #0276d5);
}
.iconsAndCopyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 102;
  gap: 32px;
}
.icons {
  width: 192px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-icon-Linkedin {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.image-icon-Linkedin:hover {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.image-icon-git {
  width: 38px;
  height: 38px;
}

/* .image-icon-git:hover {
  width: 38px;
  height: 38px;
} */

.image-icon-mail {
  width: 42px;
  height: 32px;
  flex-shrink: 0;
}

.image-icon-mail:hover {
  width: 42px;
  height: 32px;
  flex-shrink: 0;
}
.Copyright {
  width: 132px;
  height: 22px;
  color: var(--font-medium-emphasis, #828282);
  /* font-family: Nunito; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 480px) {
  .main-ContactMe {
    display: flex;
    flex-direction: column;
    padding: 48px 24px;

    /* margin-top: 190%; */
  }
  .ContactMe-inputs {
    align-items: center;
  }
  input {
    width: 327px;
  }
  .message {
    width: 327px;
  }
  label {
    font-size: 16px;

    font-weight: 500;
  }
}
