nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: color 0.3s;
  height: 56px;
}
nav a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}
a {
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0px 120px;
  justify-content: space-between;
}
.ul-scrolled {
  display: flex;
}
nav li a {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #e8f4fb;
}
.project-nav {
  width: 74px;
}
.about-nav {
  width: 54px;
}
.contacts-nav {
  width: 81px;
}
.name-nav {
  width: fit-content;
  color: #344054;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  /* align-content: center; */
}
.tamir-banay-link {
  color: #344054;
  font-size: 20px;
  font-weight: 700;
}
.tamir-banay-link:hover {
  text-decoration: none;
  color: #0077b5;
}

.nav-scrolled {
  background: var(--white, #fff);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
}

nav a {
  color: #e8f4fb;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3;
}

nav a:hover {
  text-decoration: underline;
  color: #0077b5;
}
.nav-scrolled a {
  color: #344054;
  font-size: 20px;
  font-style: normal;
  line-height: 28px;
}
.tamir-banay-link-scroll {
  font-weight: 700;
  text-decoration: none;
}
.tamir-banay-link-scroll:hover {
  font-weight: 700;
  text-decoration: none;
}

.routers {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 48px;
  width: auto;
  justify-content: flex-end;
}
.routers-scrolled {
  font-size: 20px;
  width: 50%;
  display: flex;
  gap: 48px;

  flex-direction: row;
  justify-content: flex-end;
}
.routers-scrolled :hover {
  text-decoration: none;
}

.routers :hover {
  text-decoration: none;
  color: #344054;
}

@media screen and (max-width: 480px) {
  nav {
    width: 100%;
    display: flex;
  }
  .menuOpen {
    width: 100%;
    display: flex;
    position: static;
    background-color: #2997f0;
  }
  .nav-scrolled {
    background-color: #2997f0;
  }
  .tamir-banay-link {
    color: var(--white, #fff);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%; /* 36px */
  }
  .nav-scrolled a {
    color: var(--white, #fff);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%; /* 36px */
  }

  ul {
    width: 100%;
    display: flex;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    padding: 0px 24px;
    justify-content: space-between;
  }
  nav li {
    padding: 0px 0px;
  }
  .name {
    width: fit-content;
  }
  .menu-icon {
    /* padding-right: 24px; */
  }
}
