nav {
  position: absolute;
  width: 90%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
nav li a {
  font-size: x-large;
}

.name {
  width: 50%;
  color: #344054;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: start;
}

nav a {
  color: white;
  text-decoration: none;
  size: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
  color: #0077b5; /* Color you want on hover, for example, LinkedIn blue */
}

.routers {
  font-size: large;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-end;
}
.routers :hover {
  text-decoration: none;
  color: #344054;
}
